{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    {{ 'configurations'|trans }}
{% endblock %}
{% block main %}
    <form method="post" action="{{ ea_url() }}">
        <button class="btn btn-primary action-save" type="submit" >
            <span class="btn-label"><span class="action-label">{{ 'save'|trans }}</span></span>
        </button>
    <table class="table table-striped log-table">
        <thead>
        <tr>
            <th scope="col" class="col1">{{ 'name'|trans }}</th>
            <th scope="col" class="col2">{{ 'value'|trans }}</th>
        </tr>
        </thead>
        <tbody>

        {% for name, cfg in config %}
            <tr class="">
                <th scope="row" class="">
                    <label for="cfg_{{ name }}" class="form-control-label">{{ name|trans }}</label>
                </th>
                <td>
                    {{ include('admin/type/'~ (cfg.type.name|lower) ~'.html.twig', {name: name, value: cfg.value}, with_context = false) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <button class="btn btn-primary action-save" type="submit" >
            <span class="btn-label"><span class="action-label">{{ 'save'|trans }}</span></span>
        </button>
    </form>
{% endblock %}
