<form action="{{ linkUrl }}" method="POST">
    <div class="form-widget col-md-3">
        <div class="datetime-widget datetime-widget-time form-group">
            <label for="starttime">{{ 'start'|trans }}</label>
            <input type="time" id="starttime" name="starttime" class="form-control">
        </div>
    </div>
    <div class="form-widget col-md-3">
        <div class="datetime-widget datetime-widget-time form-group">
            <label for="endtime">{{ 'end'|trans }}</label>
            <input type="time" id="endtime" name="endtime" class="form-control">
        </div>
    </div>
    <div class="form-widget col-md-3">
        <div class="form-group">
            <label for="slotsize">{{ 'slot_size'|trans }}</label>
            <input type="number" id="slotsize" name="slotsize" class="form-control">
        </div>
    </div>
    <div class="form-widget col-md-3">
        <button class="btn btn-primary" type="submit">
            <span class="btn-label"><span class="action-label">{{ 'create'|trans }}</span></span>
        </button>
    </div>
</form>
