{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    MerryWeather Dashboard
{% endblock %}
{% block main %}
    <div class="m-4">
        <ul class="nav nav-pills nav-fill" id="myTab">
            {% set first = true %}
            {% for month in months %}
                <li class="nav-item">
                    <a href="#{{ month.month }}_{{ month.year }}" class="nav-link fs-4{{ first ? ' active':'' }}" data-bs-toggle="tab">{{ month.month|trans }} {{ month.year }}</a>
                </li>
                {% set first = false %}
            {% endfor %}
        </ul>
        <hr>
        <div class="tab-content">
            {% set first = true %}
            {% for month in months %}
                <div class="tab-pane fade show {{ first ? 'active':'' }}" id="{{ month.month }}_{{ month.year }}">
                    {{ include('admin/calendar.html.twig', {month: month}, with_context = false) }}
                </div>
                {% set first = false %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
