{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    {{ 'logs'|trans }}
{% endblock %}
{% block main %}
    <ul class="nav nav-pills nav-fill" id="myTab">
        {% for logfile in logfiles %}
            <li class="nav-item">
                <a href="{{ logfile.url }}" class="nav-link fs-4{{ logfile.active?' active':'' }}">{{ logfile.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <table class="table table-striped log-table">
        <thead>
        <tr>
            <th scope="col" class="col1">{{ 'level'|trans }}</th>
            <th scope="col" class="col2">{{ 'time'|trans }}</th>
            <th scope="col" class="col3">{{ 'message'|trans }}</th>
            <!-- <th scope="col">Context</th> -->
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr class="table-{{ bootstrapClassForLog(log) }} ">
                <th scope="row" class="{{ log.levelName }}">{{ log.levelName }}</th>
                <td>{{ log.datetime|date('d.m.y H:i:s.v') }}</td>
                <td>{{ log.message }}</td>
                <!-- <td></td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
