<div id="slot_{{ slotId }}" class="container list-group-item list-group-item-action list-group-item-{{ type }}">
    <div class="row">
        <a role="button" class="col-4 btn btn-{{ button }}" href="{{ link }}">{{ action }} {{ slotCost(slot) }}</a>
        <span class="col-8 ">{{ text }}</span>
    </div>
</div>
