{% extends 'base.html.twig' %}

{% block title %}Slotbuchung{% endblock %}

{% block body %}

    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example">
            {% if dists|length < 1 %}
                keine Verteilung(en) gefunden
            {% else %}
                {% for dist in dists %}
                    <h5>
                        {{ dist.text }}
                    </h5>
                    <div class="list-group">
                        {% for slot in dist.slots %}
                            {% if slot.user != null %}
                                <span class="disabled list-group-item list-group-item-action list-group-item-primary">{{ slot.text }} (vergeben an {{ slot.user.displayName }})</span>
                            {% else %}
                                <a href="{{ path('app_slot_book' , {slotId: slot.id}) }}" class="list-group-item list-group-item-action list-group-item-primary">{{ slot.text }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
