{% extends 'base.html.twig' %}

{% block title %}{{ 'slotbooking'|trans }}{% endblock %}

{% block body %}

        <div>
            {% if dists|length < 1 %}
                {{ 'no_distribution_planned'|trans }}
            {% else %}
                {% for dist in dists %}
                    <h5 class="container">
                        {{ dist.text }}
                    </h5>
                    <div class="list-group">
                        {% for slot in dist.slots %}
                            {% if slot.user.id != null %}
                                {% if canCancel(app.user, slot) %}
                                    {{ include('slot_booking/cancel.html.twig',{link:path('app_slot_cancel' , {slotId: slot.id})}) }}
                                {% elseif slot.user.id is same as(app.user.id) %}
                                    {{ include('slot_booking/slot.html.twig', {type:'secondary disabled', text: slot.text, link:'#', button: 'outline-secondary', action: 'you'|trans }) }}
                                {% else %}
                                    {{ include('slot_booking/slot.html.twig', {type:'secondary disabled', text: slot.text, link:'#', button: 'outline-dark', action: slot.user.displayName }) }}
                                {% endif %}
                            {% elseif canBook(app.user, slot) %}
                                {{ include('slot_booking/slot.html.twig', {type:'success', text: slot.text, link:path('app_slot_book' , {slotId: slot.id}), button: 'success', action:'book'|trans}) }}
                            {% else %}
                                {{ include('slot_booking/slot.html.twig', {type:'secondary disabled', text: slot.text, link:'#', button: 'outline-secondary', action: 'n/v'|trans}) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

{% endblock %}
