{% extends 'base.html.twig' %}

{% block title %}{{ 'slotbooking'|trans }}{% endblock %}

{% block javascripts %}
    <script>
        const eventSource = new EventSource("{{ mercure('booking')|escape('js') }}");
        eventSource.onmessage = event => {
            const data = JSON.parse(event.data);

            let path  = "{{  path('app_slot_row', {slotId: -1}) }}".replace('-1', data.slotId);

            $.ajax( path )
                .done(function(response) {
                    $('#slot_' + data.slotId).replaceWith(response);
                });
        }
    </script>
{% endblock %}

{% block body %}

        <div>
            {% if dists|length < 1 %}
                {{ 'no_distribution_planned'|trans }}
            {% else %}
                {% for dist in dists %}
                    <h5 class="container">
                        {{ dist.text }}
                    </h5>
                    <div class="list-group">
                        {% for slot in dist.slots %}
                            {{ include('slot_booking/listitem.html.twig') }}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

{% endblock %}
