{% extends 'base.html.twig' %}

{% block title %}Slotbuchung{% endblock %}

{% block body %}

        <div>
            {% if dists|length < 1 %}
                keine Verteilung(en) gefunden
            {% else %}
                {% for dist in dists %}
                    <h5>
                        {{ dist.text }}
                    </h5>
                    <div class="list-group">
                        {% for slot in dist.slots %}
                            {% if slot.userId != null %}
                                {% if slot.userId is same as(app.user.id) %}
                                    {{ include('slot_booking/cancel.html.twig',{link:path('app_slot_cancel' , {slotId: slot.id})}) }}
                                {% else %}
                                    {{ include('slot_booking/slot.html.twig', {type:'secondary disabled', text: slot.text, link:'#', button: 'outline-secondary', action: 'vergeben'}) }}
                                {% endif %}
                            {% else %}
                                {{ include('slot_booking/slot.html.twig', {type:'success', text: slot.text, link:path('app_slot_book' , {slotId: slot.id}), button: 'success', action:'buchen'}) }}
                            {% endif %}
                            {#% if app.environment != 'prod' %}
                                <pre class="list-group-item">{{ dump(slot) }}   </pre>
                            {% endif %#}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

{% endblock %}
