<div class="container list-group-item list-group-item-action list-group-item-{{ type }}">
    <div class="row">
        <a role="button" class="col-3 btn btn-{{ button }}" href="{{ link }}">{{ action }}</a>
        <span class="col-6">{{ text }}</span>
    </div>
</div>
