<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#cfe2ff"/>
    <title>{{ appTitle }}: {% block title %}{{ 'welcome'|trans }}{% endblock %}</title>
    <link rel="icon" href="{{ asset('/favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('/fa/css/all.css') }}">
    <link rel="manifest" href='/manifest.{{ app.request.locale }}.json'/>
    <script src='{{ asset('/js/jquery-3.6.3.min.js') }}'></script>
    <script src='{{ asset('/js/popper.js') }}'></script>
    <script src='{{ asset('/js/bootstrap.bundle.min.js') }}'></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>
<body class="bg-light merryweather">
{% if app.user %}
    {% include('partials/navbar.html.twig') %}
{% endif %}
<div class="container-fluid bg-body">
    <section>
        <div id="msgContainer">{% include('partials/messages.html.twig') %}</div>
        {% block body %}{% endblock %}
    </section>
    <script>
        const observedElement = document.getElementById("msgContainer");
        const config = {childList: true};

        const callback = (list) => {
            for (const item of list) {
                item.addedNodes.forEach(function (element) {
                    $(element).find('.alert').each(function (index, alert) {
                        window.setTimeout(function () {
                            $(alert).alert('close');
                        }, 3500 + 1500 * index);
                    });
                });
            }
        };

        const mo = new MutationObserver(callback);
        mo.observe(observedElement, config);
    </script>
</div>
</body>
</html>
