<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#cfe2ff" />
    <title>{{ appTitle }}: {% block title %}{{ 'welcome'|trans }}{% endblock %}</title>
    <link rel="icon" href="{{ asset('/favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('/fa/css/all.css') }}">
    <link rel="manifest" href='/manifest.{{ app.request.locale }}.json' />
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script src='{{ asset('/js/jquery-3.6.3.min.js') }}'></script>
    <script src='{{ asset('/js/popper.js') }}'></script>
    <script src='{{ asset('/js/bootstrap.bundle.min.js') }}'></script>
</head>
<body class="bg-light merryweather">
{% if app.user %}
    {% include('navbar.html.twig') %}
{% endif %}
<div class="container-fluid bg-body" style="margin: 0.5em">
    <section>
        {% set flashes = app.flashes %}
        {% set num = flashes|length %}
        {% if num > 0 %}
            <article class="my-3">
                {% for type,messages in flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message|raw }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </article>
        {% endif %}
        {% block body %}{% endblock %}
    </section>
</div>
</body>
</html>
